<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nsh.getintoclub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.ContactDetail"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.SkillDetail"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.QuestionDetail"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.Database"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.DashActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutAppteam"
            android:theme="@style/Theme.Transparent" />
    </application>

</manifest>